@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0284c7;
  --secondary-color: #0ea5e9;
}

body {
  @apply bg-gray-50;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}